/* .c-signup
{
    border: 1px solid darkviolet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: .75rem;
    padding: 25px;
} */


@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=Sansita:ital@1&display=swap');

.Container
{
   max-width: 100%; 

}

.c-signup {
    background-image: url("../Images/maldive1.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* margin-top: -90px; */
}
 /* .c-signupform {
    margin-top: 100px;
}  */

.c-signupemp
{
    background-image: url("../Images/maldive1.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: -90px;
}


#c-allbtn1 {
    width: 200px;
    font-family: 400;
    font-size: larger;
    color: #ffffff;
    background-color: #B53389;
    margin-top: 15px;
}




#c-allbtn1:hover {
    background-color: #800080;
    box-shadow: 2px 3px 5px #B53389;
}


.c-table td {
    padding: 5px;
}

.c-table td input {
    text-align: center;
    border: 2px solid #301934;

    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  */

    font-weight: 600;
    font-size: larger;

}

.c-table td input::placeholder ,label{
    font-weight: 400;
    font-size: larger;
    color: #4F284B;
    font-family: 'Merienda', cursive;
}

.c-table td input:focus,
input:hover {
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

    font-weight: 600;
    color: black;
    outline: none;
    background-color: #ffffff;
    opacity: 0.8;
}

.c-Carouselimg
{
   width : 100%;
   height : 630px;

}

.c-addempheading
{
  margin-top: 80px;
  position: fixed;

}
.c-addempheading h4{
    font-weight: 800;
}

.c-addempregform
{
    margin-top: 85px;
}

.c-addempimgicon
{
    border-radius: 50%;
    height : 120px;

}




ul li .c-navlink{
    position: relative;
    display: block;
    font-weight: 600;
    font-size:17px;
    color: #ffffff;
    font-family: 'Itim', cursive;
    /* font-family: 'Sansita Swashed', cursive; */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;    
  }
  /* //------------------------------------------------------------------------- */
  ul li .c-navlink:hover
  {
       font-weight: 700;
       text-shadow: 1px 1px 2px	#E8E8E8;
  
  }
  
  .c-navcolor
  {
    opacity : 0.6;
     background-color: #282c34; 
     z-index: 999;
     position: fixed;
    /* background-color: #dcb5ff; */
  }

  /* ------------------------------------------------------------------------------- */
  
  
.searchForm
{
    border: 1px solid black;
   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.Form-DateSearch
{
    height:270px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: 	#F0F0F0; */
}

#btnsearch
{
    /* padding-left: 20px; */
    width: auto;
    font-family: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #B53389;
    border: 1px solid #B53389;
}

  
  
/* ---------------------------------------------------------------------- */


.c-empaccphoto
{
    border-radius: 50%;
}

.c-empnavcolor
{
    background-image: url("../Images/sunset.jpg");

}

.c-empwelcomeheading h5{

    font-weight: 700;
}

.c-disppackagetable  tr  td, .c-disppackagetable tr th
{
    border: 1px solid black;
    border-collapse: collapse;
   
}
.c-disppackagetable td ,.c-disppackagetable th 
{
    padding: 15px;
   
}

.c-disppackagetable 
{
   border: 2px solid black;
   width : 100%;

}

#c-dispimgbtn {
    width: 130px;
    font-family: 400;
    font-size: medium;
    color: #ffffff;
    background-color: #B53389;
 
}


#c-displanbtn {
    width: 80px;
    font-family: 400;
    font-size: medium;
    color: #ffffff;
    background-color: #B53389;
 
}
#c-displanbtn :hover {
   
    box-shadow: 2px 2px 5px gray;
    background-color: purple;
 
}
.c-navlink
{
    color: #ffffff;
}
/* .c-dispimages
{
    align-items: center;
     display: flex;
   justify-content: center;
    
} */

#c-dispimgbtn:hover {
    background-color: #800080;
    box-shadow: 2px 3px 5px #B53389;
}

 .c-disppackageimages
{


    border: 3px solid black;
    background-color:black;
    box-shadow: 10px 10px 8px gray;
    width : 1200px;
    border-radius: 5%;
     position: fixed;
     left : 10%;
     top : 10%;
     
   /*align-items: center;
     display: flex;
   justify-content: center;  */
   vertical-align: middle;


}   


.c-dispsingleimage
{
    border: 2px solid white;
    border-radius: 5%;
    padding: 2px; 
    height: 500PX;
    Width: 680px;
    
    
} 

.c-dispsingleimage img{
    border-radius: 5%;
}

/* ------------------------------------------ */
.c-footerdiv
{
    height:270px;
    /* border: 3px solid black; */
    margin : 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 	#F0F0F0;
}


.c-footerdiv h1 ,.c-footerdiv h4, .c-footerdiv h4{
    margin-bottom: 40px;
}

.c-footerdiv p {

    justify-content: center;
    width : 300px;
}


.c-footermainclass
{
  margin-top : 10px;
   /* border : 1px solid palevioletred; */
} 


.c-footerdivhappycust img
{
  /* background-repeat: no-repeat; */
  /* background-size: cover;
   */
   height: 230px;
   width : 400px;
}
/* .c-footerdescription
{
    border : 1px solid green;
    height: 200px;
    width : auto;
} */

.c-footericon 
{
    /* border : 1px solid palevioletred; */
    width : 350px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}



.c-footerdivthird
{
    height:270px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 	#F0F0F0;
}

.c-footecopyright
{
    height:50px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 	#F0F0F0;
    padding-top: 12px;
}


/*-------------------------------------------------------------------------------*/


.c-TouristPortal
{
    height: 350px;
    width: 300px;
    box-shadow: 2px 2px 8px black;
    margin-top: 50px;
    /* border-radius: 5%; */
    /* z-index: -1; */
}

.c-TouristPortal-1
{
/* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-around;

}


.c-touristpackageimages
{
    /* border: 3px solid #800080; */
    margin: -20px;
    /* background-color:black; */
    box-shadow: 10px 10px 8px gray;
    /* border-radius: 5%; */
   object-fit: cover;
   width: 270px;
   margin-left: 5%;

}   

.c-touristsingleimage
{
    /* object-fit: cover; */
    /* margin-top: -40px; */
    height: 200px;
    width: 100%;
    /* padding: 15px; */
    /* border-radius: 5%; */
    overflow: visible;
    z-index: 99;
    
}

.c-card-content
{
    margin-top: 35px;
}


#c-dispimgbtn-tourist{

    width: 120px;
    font-family: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #B53389;
    border:1px solid #B53389;
}   

#c-dispimgbtn-tourist:hover{
    background-color: #800080;
    box-shadow: 2px 3px 5px #B53389;
}


.c-packageallinfo
{
    /* border: 2px solid #25D366; */
    /* background-color:  #FDEB71 ; */
    /* background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%); */
    /* background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
     */
   
     background-color: #85FFBD;
     background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        
     /* background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%); */

     /* background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%); */
    display: flex;
    flex: wrap;
    height: 100%;
    width: 1050px;
    box-shadow: 10px 10px 12px gray;
    border-radius: 3%;

    /* background-color:#FFA836; */
    /* background-color:#00FA9A; */
    /* background-color: #25D366; */
    /* background-color: #00A693; */
    background-color: #D0F0C0;
    
    z-index: 999;
    left: 78px;
    justify-content: space-around;
}

.c-1divinfo
{
    /* border: 1px solid #800080; */
    /* height: 100px; */
    border-right:2px double #25D366 ;
    width: 600px;
   
}



.c-2divinfo
{
    /* border: 1px solid yellow; */
    /* height: 100px; */
    padding: 5px;
    width: 550px;
  

}


#c-dispimgbtn-tourist1{

    width: 150px;
    height: 40px;
    font-family: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #B53389;
    border:1px solid #B53389;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 2%;
}   

#c-dispimgbtn-tourist1:hover{
    background-color: #800080;
    box-shadow: 2px 3px 5px #B53389;
}

.c-packagebtntourist
{
    display: flex;
    flex: wrap;
    text-align: center;
    justify-content: center;
}

.c-mainpackageallinfo
{
    position: fixed;
    top: 15%;
    left: 16%;
    z-index: 9999;
   
}

.c-maincontainer
{
    opacity: 0.5;
/* background-color: rgb(0,0,0); 
background-color: rgba(0,0,0, 0.4);  */
}


/* --------------------------------------------------------------------------------------- */
.c-forgetpwddiv
{ 
    width: 80%;
    max-width: 370px;
    border: 1px solid darkviolet;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: .75rem;
    padding: 10px 0;

}
.c-forgetpwddiv input {
    width: 85%;
    height: 40px;
    margin: 12px auto;
    display: block;
      /* background-color: black; */
      /* color:#ffffff; */
     /* opacity: 0.7;  */
     border: 1px solid darkviolet; 
    /* box-shadow: 2px 2px 2px black; */
    border-radius: .75rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    padding-left:15px;
    font-weight: 400;

}

.c-forgetpwddiv input::placeholder
{
font-weight: 400;
font-size: larger;
 
}
.c-forgetpwddiv input:focus
{
    font-weight: 500;
    /* color : black; */
    outline:none;
    /* background-color: #ffffff; */
    opacity: 0.9;
}



#c-forgetbtn:hover{
    background-color: #800080;
    box-shadow: 2px 3px 5px #B53389;
}

#c-forgetbtn
{
    width:130px;
    padding : 0 30px;
    background-color:hotpink;
    border : 1px solid transparent;
    border-radius: .75rem;
    color: white;
    cursor:pointer;
    font-family:'Segoe UI';
    font-weight:600;
    font-size:1.125rem;
    height:50px;
    margin:10px;
    transition:0.15s;
    cursor:default;

}

/* ----------------------------------------------------------------------------- */

/* ---------------Booktourcomponant-------- */

.c-Booktourcontainer
{

    margin-top: 60px;
 
} 

.c-booktourinnerdiv
{
   height:540px;
    border: 2px solid black;
    

}

.c-tabletouristinfo
{
   width:100%;
   border-bottom:1px solid #25D366;
   margin-bottom: 15px;
}
.c-tabletouristinfo tr td
{
    border: 1px solid gainsboro;
    /* text-align: left;
    padding-left: 20px; */

    justify-content: space-between;
    width:50%;
    padding-inline: 30px;
}
.c-tabletouristinfo th{
    padding-bottom: 8px;
}

#c-bookbutton {
    margin-top: 5px;
    margin-bottom: 5px;
     width: 80px; 
    font-family: 400;
    font-size: medium;
    color: #ffffff;
    background-color: #B53389;
 
}
#c-bookbutton:hover {
   
    box-shadow: 2px 2px 5px gray;
    background-color: purple;
 
}

table .c-bookbuttondiv
{
    margin-top: 20px;
}

#c-getinvoicebutton
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px; 
    font-family: 400;
    font-size: medium;
    color: #ffffff;
    background-color: #B53389;
 
}

#c-getinvoicebutton:hover {
   
    box-shadow: 2px 2px 5px gray;
    background-color: purple;
 
}

/*---------------------------------------------------------------------*/
.ProfilemainDiv
{
    /* border: 1px solid black; */
    top:40%;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.ProfileTable tr td , .ProfileTable tr th 
{
    padding: 15px;
    /* border: 1px solid gold; */
}

.ProfileTable
{
    border: 2px double black;
    box-shadow: 5px 5px 5px gray;
}
